[submodule "drivers/kernelsu"]
	path = drivers/kernelsu
	url = https://github.com/tiann/KernelSU/
[submodule "drivers/staging/kernelsu"]
	path = drivers/staging/kernelsu
	url = https://github.com/ramabondanp/KernelSU-Next
